body{
    background-image: url("images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: normal;
    
}

.content {
    background-color: #64ea3487;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin-top: 5%;
    max-width: 800px;
    text-align: center;
}

.title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.5em;
    color: #00bbff;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2em;
    color: #333;
}
footer {
    background-color: #00eeff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
  }

  main {
      flex: 1;
  }

  footer {
      background-color: #00eeff;
      text-align: center;
      padding: 10px;
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }

  footer p {
      margin: 0;
      color: #fff;
      font-family: 'Roboto', sans-serif;
  }